extends layout

block content
  h1 Hi There! 
  h4 User Registration
  .container-fluid
    form(method='post')
      .form-group
        label Name
        input.form-control(type='text', placeholder='Name', name='name')
      .form-group
        label Username
        input.form-control(type='text', placeholder='Username', name='username')
      .form-group
        label Email
        input.form-control(type='email', placeholder='Email', name='email')
      .form-group
        label Password
        input.form-control(type='password', placeholder='Password', name='password')
      .form-group
        label Confirm Password
        input.form-control(type='password', placeholder='Password', name='password2')
      .form-group
        button.btn.btn-default(type='submit') Submit
