extends layout 

block content
  .container-fluid
    h2 Hello #{user}
    h3 Join a house or start your own
    button.btn.btn-outline-secondary(type='button') Secondary
    button.btn.btn-outline-success(type='button') Success

      
